#scroll{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;


    // margin-top: -200px;

    >div{
		// border: 1px solid red;
    background-color: $blue;
    overflow: hidden;
    padding: 20px 0;

    width: 60%;
    
    



    // width: 30%;

    #scrollText{
      color: $white;
      width: 100vw;
      font-size: rem-calc(20);
    }

    // #scrollContainer{
    //   display: flex;
    //   width: 100vw;

    //   p{
    //     font-size: rem-calc(40);
    //     margin-right: 10px;
    //   }
    // }
	}
}